<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Mini Messenger</title>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <%- include('header', { links: links }) %>
        <div class="topContainer">
            <% for (let i = 0; i < messages.length; i++) { %>
                <div class="messageContainer">
                    <div class="textMessage"><%= messages[i].text %></div>
                    <div class="userHolder">
                        <div class="userName">Posted By <%= messages[i].user %></div>
                        <div class="date">On <%= messages[i].added %></div>
                    </div>
                    <a class="detailsBtn" href="/details:<%= i %>">Open</a>
                </div>
              <% } %>
        </div>
        <div class="buttonContainer">
            <a class="newMessageBottom" href="/new">New Message</a>
        </div>
    </body>
</html>